*csv
*txt
*bit
*doc
*docx
*xclbin
*zip
*bit
*so
sw/xilinx*
sw/*.wdb
sw/*.wcfg
sw/*.protoints
*.json
sw/*.log
sw/*.jou
sw/*.str
sw/*.hdf
sw/*.xsa
sw/*.xpfm
sw/*.json
hw/*.csv
hw/*.log
hw/*.jou
hw/*.str
hw/*.bin
hw/*.hdf
hw/*.xsa
hw/*.xpfm
hw/*.json
aie/*.csv
aie/*.log
aie/*.jou
aie/*.str
aie/temp